
@{
    ViewBag.Title = "VerMesasDisponibles";
    var data = (List<SigloXXI.Data.Mesas>)ViewData["Mesas"];
}

<h2>Ver Mesas Disponibles</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Capacidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mesa in data)
        {
            <tr>
                <td>@mesa.numero</td>
                <td>@mesa.capacidad</td>
                <td>
                    @Html.ActionLink(" ", "EditarMesa", "Mesas",
                       new { id = mesa.id }, new { @class = "far fa-edit" })
                    @Html.ActionLink(" ", "EliminarMesa", "Mesas",
                       new { id = mesa.id }, new { @class = "far fa-trash-alt" })
                </td>
            </tr>
        }
    </tbody>
</table>
