
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">
    <input type="number" max="8" min="1" name="cantidad" required/>
    <input type="submit" />
</form>

