
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/administrador.css" rel="stylesheet" />

<div class="container" style="background-color: white; border: solid 1px black; border-radius: 3px; opacity: 0.8; margin-top: 4%;">
    <div class="form">

    </div>
    <form method="post">
        <input type="number" max="8" min="1" name="cantidad" class="control-label col-md-2" placeholder="Ingresa la cantantidad de personas" required />
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </form>

</div>