
@{
    ViewBag.Title = "VerDetalles";
    var data = (List<SigloXXI.Data.OrdenBody>)ViewData["Detalles"];
}
<link href="~/Content/css/administrador.css" rel="stylesheet" />
<div class="container" style="margin-top: 2%;">
    <h2>Ver Detalles</h2>
    <table class="table table-bordered" style="background-color: white; opacity: 80%;">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Platillo</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var orden in data)
            {
                <tr>
                    <td>@orden.cantidad</td>
                    <td>@orden.platilloId.nombre</td>
                    <td>@orden.subTotal</td>
                </tr>
            }
        </tbody>
    </table>
</div>