
@{
    ViewBag.Title = "VerDetalles";
    var data = (List<SigloXXI.Data.OrdenBody>)ViewData["Detalles"];
}

<h2>Ver Detalles</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cantidad</th>
            <th>Platillo</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var orden in data)
        {
            <tr>
                <td>@orden.cantidad</td>
                <td>@orden.platilloId.nombre</td>
                <td>@orden.subTotal</td>
            </tr>
        }
    </tbody>
</table>
