
@{
    ViewBag.Title = "VerDetalles";
    var data = (List<SigloXXI.Data.PedidoBody>)ViewData["Detalles"];
}

<h2>Ver Detalles</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var pedido in data)
        {
            <tr>
                <td>@pedido.productoId.nombre</td>
                <td>@pedido.productoId.precio</td>
                <td>@pedido.productoId.cantidad</td>
            </tr>
        }
    </tbody>
</table>
