body {
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    background-color: #EFEFEF;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
